# Ignore all image files
*.jpg
*.png
*.jpeg

# Ignore pycharm and system files
.DS_Store
*.idea
__pycache__
*.zip

# Ignore dataset files
*.csv
*.json

# Ignore checkpoints everywhere …
*.pth
# … except the committed model weights in the output directory
!landscapeshq/*.pth

# Ignore pickle files
*.pkl